<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>별솔리조트</title>
	<link rel="stylesheet" href="../css/myresv.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" src="../script/header.js"></script>
</head>

<body>
	<div class="allwrap">
		<div class="wrap">
			
			<header class="header">
				<jsp:include page="../header/sub.jsp" />
			</header>
		
			<img class="subbanner" src="https://gyonewproject.000webhostapp.com/byeolsolResort/myPage/myPageSub.jpg">
			<section>
				<div class="writ">
					<div class="route">
						<ul>
							<li>HOME</li>
							<li>》</li>
							<li>마이페이지</li>
							<li>》</li>
							<li>나의 예약</li>
						</ul>
					</div>
					<div class="sibtitle">
						<h3>나의 예약</h3>
					</div>
				</div>
				<form onsubmit="return check()" id="regis">
					<div class="content_foot">
						<ul class="flotBox_my_tap">
							<li><a href="../sideform/mypage.html" class="li1">개인정보</a></li>
							<li><a href="../sideform/myQnA.html" class="li2">나의 Q&A</a></li>
							<li><a href="../sideform/myresv.html" class="li3">나의 예약</a></li>
						</ul>
					</div>
					<div class="myqna_list">
                        <table>
                            <tr>
                                <td>
                                    예약번호
                                </td>
                                <td>예약객실</td>
                                <td>입실날짜</td>
                                <td>퇴실날짜</td>
                                <td>예약인원</td>
                                <td colspan="2">수정/삭제</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>(예약번호)</td>
                                <td>(예약객실)</td>
                                <td>(입실날짜)</td>
                                <td>(퇴실날짜)</td>
                                <td>(예약인원)</td>
                                <td><input type="button" onclick="location.href='../sideform/mypage.html'" value="취소" class="resv_btn1"></td>
                                <td><input type="button" onclick="location.href='../sideform/resvUpdate.html'" value="수정" class="resv_btn2"></td>
                            </tr>
                        </table>
    
                    </div>
				</form>
			</section>
			<footer>
				<div class="fnb">
					<ul>
						<li><a href="../bottom/about.jsp">회사소개</a></li>
						<li><a href="../bottom/privacy.jsp">개인정보처리방침</a></li>
						<li><a href="../bottom/operation.jsp">영상정보처리기기운영관리방침</a></li>
						<li><a href="../bottom/termsofuse.jsp">이용약관</a></li>
						<li><a href="../bottom/emailcollection.jsp">이메일무단수집거부</a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>
</body>

</html>
