<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>별솔리조트</title>
	<link rel="stylesheet" href="../css/myresv.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" src="../script/header.js"></script>
</head>

<body>
	<div class="allwrap">
		<div class="wrap">
			<header class="header">
				<div class="main">
					<div class="logo">
						<a href="../main/main.jsp">로고</a>
					</div>
					<div class="navi">
						<div id="manu">
							<ul>
								<li><a class="brown" href="../explicateList/byeolsolInfo.jsp">별솔리조트</a>
									<ul>
										<li><a href="../explicateList/byeolsolInfo.jsp">별솔리조트란?</a></li>
										<li><a href="../explicateList/roomMain.jsp">객실소개</a></li>
										<li><a href="../explicateList/fee.jsp">이용안내</a></li>
										<li><a href="../explicateList/map.jsp">오시는길</a></li>
									</ul>
								</li>
								<li><a class="brown" href="../newsList/news.jsp">별솔소식</a>
									<ul>
										<li><a href="../newsList/news.jsp">공지사항</a></li>
										<li><a href="../newsList/event.jsp">이벤트</a></li>
									</ul>
								</li>
								<li><a class="brown" href="../serviceList/leftover.jsp">회원
										서비스</a>
									<ul>
										<li><a href="../serviceList/leftover.jsp">객실예약</a></li>
										<li><a href="../serviceList/guestroom.jsp">객실현황</a></li>
										<li><a href="../serviceList/board.jsp">후기게시판</a></li>
									</ul>
								</li>
								<li><a class="brown" href="../tour/trip.jsp">주변관광지</a>
									<ul>
										<li><a href="../tour/trip.jsp">여행코스</a></li>
										<li><a href="../tour/golf.jsp">골프코스</a></li>
										<li><a href="../tour/mount.jsp">등산코스</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div id="side">
							<ul>
								<li><a href="../sideform/qna.jsp">고객센터</a></li>
								<li><a href="../sideform/login.jsp">로그아웃</a></li>
								<li><a href="../sideform/signup.jsp">마이페이지</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div class="subimage">
				<h2>서브 이미지 들어가야함.</h2>
			</div>
			<section>
				<div class="writ">
					<div class="route">
						<ul>
							<li>HOME</li>
							<li>》</li>
							<li>마이페이지</li>
							<li>》</li>
							<li>나의 예약</li>
						</ul>
					</div>
					<div class="sibtitle">
						<h3>나의 예약</h3>
					</div>
				</div>
				<form onsubmit="return check()" id="regis">
					<div class="content_foot">
						<ul class="flotBox_my_tap">
							<li><a href="../sideform/mypage.html" class="li1">개인정보</a></li>
							<li><a href="../sideform/myQnA.html" class="li2">나의 Q&A</a></li>
							<li><a href="../sideform/myresv.html" class="li3">나의 예약</a></li>
						</ul>
					</div>
					<div class="myqna_list">
                        <table>
                            <tr>
                                <td>
                                    예약번호
                                </td>
                                <td>예약객실</td>
                                <td>입실날짜</td>
                                <td>퇴실날짜</td>
                                <td>예약인원</td>
                                <td colspan="2">수정/삭제</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>(예약번호)</td>
                                <td>(예약객실)</td>
                                <td>(입실날짜)</td>
                                <td>(퇴실날짜)</td>
                                <td>(예약인원)</td>
                                <td><input type="button" onclick="location.href='../sideform/mypage.html'" value="취소" class="resv_btn1"></td>
                                <td><input type="button" onclick="location.href='../sideform/resvUpdate.html'" value="수정" class="resv_btn2"></td>
                            </tr>
                        </table>
    
                    </div>
				</form>
			</section>
			<footer>
				<div class="fnb">
					<ul>
						<li><a href="../bottom/about.jsp">회사소개</a></li>
						<li><a href="../bottom/privacy.jsp">개인정보처리방침</a></li>
						<li><a href="../bottom/operation.jsp">영상정보처리기기운영관리방침</a></li>
						<li><a href="../bottom/termsofuse.jsp">이용약관</a></li>
						<li><a href="../bottom/emailcollection.jsp">이메일무단수집거부</a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>
</body>

</html>
